In [6]:
import pandas as pd
import json

In [8]:
rf = pd.read_json(r"C:\Users\96181\Desktop\data\random_tweets.json", lines =True)
ny = pd.read_json(r"C:\Users\96181\Desktop\data\new_york.json", lines = True)
p = pd.read_json(r"C:\Users\96181\Desktop\data\paris.json", lines = True)
ld = pd.read_json(r"C:\Users\96181\Desktop\data\london.json", lines = True)

In [9]:
rf.isnull().sum()

created_at                       0
id                               0
id_str                           0
text                             0
truncated                        0
entities                         0
metadata                         0
source                           0
in_reply_to_status_id         9697
in_reply_to_status_id_str     9697
in_reply_to_user_id           9596
in_reply_to_user_id_str       9596
in_reply_to_screen_name       9596
user                             0
geo                          11082
coordinates                  11082
place                        10943
contributors                 11099
retweeted_status              3727
is_quote_status                  0
retweet_count                    0
favorite_count                   0
favorited                        0
retweeted                        0
lang                             0
possibly_sensitive            7907
quoted_status_id              9945
quoted_status_id_str          9945
extended_entities             9900
quoted_status                10772
withheld_in_countries        11097
dtype: int64

In [10]:
rf_drop = [
    'geo', 'coordinates', 'place', 'contributors', 
    'quoted_status', 'quoted_status_id', 'quoted_status_id_str', 
    'extended_entities', 'withheld_in_countries',
    'in_reply_to_status_id', 'in_reply_to_status_id_str', 
    'in_reply_to_user_id', 'in_reply_to_user_id_str', 
    'in_reply_to_screen_name', 'retweeted_status', 'metadata', 'entities', 'source', 'truncated'
]
rf.drop(columns = rf_drop, inplace=True)

In [11]:
ny.isnull().sum()

created_at                      0
id                              0
id_str                          0
text                            0
display_text_range           1912
source                          0
truncated                       0
in_reply_to_status_id        3055
in_reply_to_status_id_str    3055
in_reply_to_user_id          2894
in_reply_to_user_id_str      2894
in_reply_to_screen_name      2894
user                            0
geo                          4055
coordinates                  4055
place                           0
contributors                 4723
is_quote_status                 0
quote_count                     0
reply_count                     0
retweet_count                   0
favorite_count                  0
entities                        0
favorited                       0
retweeted                       0
filter_level                    0
lang                            0
timestamp_ms                    0
extended_tweet               3496
possibly_sensitive           2437
quoted_status_id             3928
quoted_status_id_str         3928
quoted_status                3928
quoted_status_permalink      3928
extended_entities            4272
withheld_in_countries        4722
dtype: int64

In [12]:
ny_drop = [
    'display_text_range', 'in_reply_to_status_id', 'in_reply_to_status_id_str',
    'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name',
    'geo', 'coordinates', 'contributors', 'extended_tweet', 'quoted_status',
    'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
    'extended_entities', 'withheld_in_countries' 
]
ny.drop(columns=ny_drop, inplace=True)

In [13]:
p.isnull().sum()

created_at                      0
id                              0
id_str                          0
text                            0
source                          0
truncated                       0
in_reply_to_status_id        1470
in_reply_to_status_id_str    1470
in_reply_to_user_id          1409
in_reply_to_user_id_str      1409
in_reply_to_screen_name      1409
user                            0
geo                          2334
coordinates                  2334
place                           0
contributors                 2510
is_quote_status                 0
quote_count                     0
reply_count                     0
retweet_count                   0
favorite_count                  0
entities                        0
favorited                       0
retweeted                       0
filter_level                    0
lang                            0
timestamp_ms                    0
display_text_range           1262
extended_entities            2212
possibly_sensitive           1857
quoted_status_id             2148
quoted_status_id_str         2148
quoted_status                2148
quoted_status_permalink      2148
extended_tweet               2040
dtype: int64

In [14]:
p_drop = [
    'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id',
    'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'geo', 'coordinates',
    'contributors', 'display_text_range', 'extended_entities', 'quoted_status',
    'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
    'extended_tweet'
]
p.drop(columns = p_drop,inplace=True)

In [15]:
ld.isnull().sum()

created_at                      0
id                              0
id_str                          0
text                            0
display_text_range           1806
source                          0
truncated                       0
in_reply_to_status_id        3111
in_reply_to_status_id_str    3111
in_reply_to_user_id          2897
in_reply_to_user_id_str      2897
in_reply_to_screen_name      2897
user                            0
geo                          4669
coordinates                  4669
place                           0
contributors                 5341
is_quote_status                 0
extended_tweet               3821
quote_count                     0
reply_count                     0
retweet_count                   0
favorite_count                  0
entities                        0
favorited                       0
retweeted                       0
filter_level                    0
lang                            0
timestamp_ms                    0
possibly_sensitive           2947
quoted_status_id             4659
quoted_status_id_str         4659
quoted_status                4659
quoted_status_permalink      4659
extended_entities            4761
dtype: int64

In [16]:
ld_drop = [
    'display_text_range', 'in_reply_to_status_id', 'in_reply_to_status_id_str',
    'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name',
    'geo', 'coordinates', 'contributors', 'extended_tweet', 'quoted_status',
    'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
    'extended_entities'
]
ld.drop(columns = ld_drop,inplace = True)

In [17]:
print(rf.dtypes)

created_at            datetime64[ns, UTC]
id                                  int64
id_str                              int64
text                               object
user                               object
is_quote_status                      bool
retweet_count                       int64
favorite_count                      int64
favorited                            bool
retweeted                            bool
lang                               object
possibly_sensitive                float64
dtype: object

In [18]:
rf['id_str'] = rf['id_str'].astype(str)
rf['possibly_sensitive'] = rf['possibly_sensitive'].fillna(0).astype(bool)
rf['created_at'] = pd.to_datetime(rf['created_at'])

In [19]:
print(p.dtypes)

created_at            datetime64[ns, UTC]
id                                  int64
id_str                              int64
text                               object
source                             object
truncated                            bool
user                               object
place                              object
is_quote_status                      bool
quote_count                         int64
reply_count                         int64
retweet_count                       int64
favorite_count                      int64
entities                           object
favorited                            bool
retweeted                            bool
filter_level                       object
lang                               object
timestamp_ms               datetime64[ns]
possibly_sensitive                float64
dtype: object

In [20]:
p['id_str'] = p['id_str'].astype(str)
p['possibly_sensitive'] = p['possibly_sensitive'].fillna(0).astype(bool)
p['timestamp_ms'] = pd.to_datetime(p['timestamp_ms'])
p['created_at'] = pd.to_datetime(p['created_at'])

In [21]:
print(ny.dtypes)

created_at            datetime64[ns, UTC]
id                                  int64
id_str                              int64
text                               object
source                             object
truncated                            bool
user                               object
place                              object
is_quote_status                      bool
quote_count                         int64
reply_count                         int64
retweet_count                       int64
favorite_count                      int64
entities                           object
favorited                            bool
retweeted                            bool
filter_level                       object
lang                               object
timestamp_ms               datetime64[ns]
possibly_sensitive                float64
dtype: object

In [22]:
ny['possibly_sensitive'] = ny['possibly_sensitive'].fillna(0).astype(bool)
ny['id_str'] = ny['id_str'].astype(str)
ny['timestamp_ms'] = pd.to_datetime(ny['timestamp_ms'])
ny['created_at'] = pd.to_datetime(ny['created_at'])

In [23]:
print(ld.dtypes)

created_at            datetime64[ns, UTC]
id                                  int64
id_str                              int64
text                               object
source                             object
truncated                            bool
user                               object
place                              object
is_quote_status                      bool
quote_count                         int64
reply_count                         int64
retweet_count                       int64
favorite_count                      int64
entities                           object
favorited                            bool
retweeted                            bool
filter_level                       object
lang                               object
timestamp_ms               datetime64[ns]
possibly_sensitive                float64
dtype: object

In [25]:
ld['possibly_sensitive'] = ld['possibly_sensitive'].fillna(0).astype(bool)
ld['id_str'] = ld['id_str'].astype(str)
ld['timestamp_ms'] = pd.to_datetime(ld['timestamp_ms'])
ld['created_at'] = pd.to_datetime(ld['created_at'])

In [45]:
df = pd.concat([rf,ld,p,ny],ignore_index=True)
df.describe()
df.isnull().sum()
df_columns = [
    'source', 'truncated', 'place', 'quote_count', 
                      'reply_count', 'entities', 'filter_level', 'timestamp_ms'
]
df = df.drop(columns = df_columns)
median_rt = df["retweet_count"].median()
df["viral"] = (df["retweet_count"] > median_rt).astype(int)

In [53]:
from sklearn.model_selection import train_test_split as tts
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
x = df['text'].astype(str)
y = df['viral']
cv = CountVectorizer()
x_vec = cv.fit_transform(x)
x_train,x_test,y_train,y_test = tts(x_vec,y,test_size = 0.2,random_state=39)
ml = MultinomialNB()
ml.fit(x_train,y_train)
y_pred = ml.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print(acc)

0.8808870116156283